<div class="container">
    <div class="sidebar-heading">
        <p>Exy {{"DASHBOARD.DASHBOARD" | translate}}</p>
    </div>
    <div class="nav-menu">
        <div class="core-items">
            <exy-sidebar-nav-item [itemClass]="'pi pi-home'" [itemName]="'DASHBOARD.DASHBOARD'"></exy-sidebar-nav-item>
            <exy-sidebar-nav-item [itemClass]="'pi pi-users'" [itemName]="'CLIENTS.CLIENTS'"></exy-sidebar-nav-item>
            <exy-sidebar-nav-item [itemClass]="'pi pi-credit-card'" [itemName]="'EXPENSES.EXPENSES'"></exy-sidebar-nav-item>
            <!-- <exy-sidebar-nav-item [itemClass]="'pi pi-bell'" [itemName]="'Notifications'"></exy-sidebar-nav-item> -->
        </div>
        <div class="auth-items">
            <span class="nav-divider">{{"DASHBOARD.AUTH" | translate}}</span>
            <exy-sidebar-nav-item [itemClass]="'pi pi-user'" [itemName]="'ACCOUNT_SETTINGS.ACCOUNT_SETTINGS'"></exy-sidebar-nav-item>
            <exy-sidebar-nav-item [itemClass]="'pi pi-sign-out'" [itemName]="'FORM.SIGN_OUT'"></exy-sidebar-nav-item>
        </div>
    </div>
</div>