<div class="container">
    <div class="sidebar-heading">
        <p>Exy Dashboard</p>
    </div>
    <div class="nav-menu">
        <div class="core-items">
            <exy-sidebar-nav-item [itemClass]="'pi pi-home'" [itemName]="'Dashboard'"></exy-sidebar-nav-item>
            <exy-sidebar-nav-item [itemClass]="'pi pi-users'" [itemName]="'Clients'"></exy-sidebar-nav-item>
            <exy-sidebar-nav-item [itemClass]="'pi pi-credit-card'" [itemName]="'Expenses'"></exy-sidebar-nav-item>
            <exy-sidebar-nav-item [itemClass]="'pi pi-bell'" [itemName]="'Notifications'"></exy-sidebar-nav-item>
        </div>
        <div class="auth-items">
            <span class="nav-divider">Auth</span>
            <exy-sidebar-nav-item [itemClass]="'pi pi-cog'" [itemName]="'Settings'"></exy-sidebar-nav-item>
            <exy-sidebar-nav-item [itemClass]="'pi pi-sign-out'" [itemName]="'Sign Out'"></exy-sidebar-nav-item>
        </div>
    </div>
</div>