.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
}
.header-buttons > .pi {
    font-size: 1.4rem;
}
.breadcrumb {
    margin-left: 1.5rem;
}