<div class="container">
    <div class="left" @slideInFromLeft>
        <div class="language-dropdown-wrapper">
            <app-language-dropdown></app-language-dropdown>
        </div>
        <form class="register-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="heading">
                <img class="logo" src="assets/logo.png" />
            </div>
            <div class="mobile-heading-wrapper">
                <span class="heading">{{"SIGN_IN_PAGE.WELCOME_BACK_MESSAGE" | translate}}</span>
                <p class="sub-heading">{{"SIGN_UP_PAGE.WELCOME_PARAGRAPH_PHONE" | translate}}</p>
            </div>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="{{'FORM.EMAIL' | translate}}" formControlName="email" />
            </p-inputGroup>
            
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-lock"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="{{'FORM.PASSWORD' | translate}}" type="password" formControlName="password" />
            </p-inputGroup>
            
            <button mat-flat-button label="{{'SIGN_IN_PAGE.SIGN_IN' | translate}}" type="submit" class="submit-button" [disabled]="!loginForm.valid" pButton></button>
        </form>
        <div class="sign-in-link">
            <span>{{"SIGN_IN_PAGE.SIGN_UP_MESSAGE" | translate}}</span><a routerLink="/auth/register" type="submit">{{"FORM.SIGN_UP" | translate}}</a>
        </div>
    </div>
    <div class="right">
        <div class="heading-wrapper" @slideInFromTop>
            <span class="heading">{{"SIGN_IN_PAGE.WELCOME_BACK_MESSAGE" | translate}}</span>
            <p class="sub-heading">{{"SIGN_UP_PAGE.WELCOME_PARAGRAPH" | translate}}</p>
        </div>
        <img src="assets/login-picture.svg" alt="Image" class="image" @slideInFromRight />
    </div>
</div>