<div class="container">
    <div class="left">
        <div class="heading-wrapper" @slideInFromTop>
            <span class="heading">{{'SIGN_UP_PAGE.WELCOME_MESSAGE' | translate}}</span>
            <p class="sub-heading">{{'SIGN_UP_PAGE.WELCOME_PARAGRAPH' | translate}}</p>
        </div>
        <img src="assets/register-picture.svg" alt="Image" class="image" @slideInFromLeft />
    </div>
    <div class="right" @slideInFromRight>
        <div class="language-dropdown-wrapper">
            <app-language-dropdown></app-language-dropdown>
        </div>
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="heading">
                <img class="logo" src="assets/logo.png" />
            </div>
            <div class="mobile-heading-wrapper">
                <span class="heading">{{'SIGN_UP_PAGE.WELCOME_MESSAGE' | translate}}</span>
                <p class="sub-heading">{{'SIGN_UP_PAGE.WELCOME_PARAGRAPH_PHONE' | translate}}</p>
            </div>

            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="{{'FORM.USERNAME' | translate}}"  formControlName="username" />
            </p-inputGroup>

            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-envelope"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="{{'FORM.EMAIL' | translate}}"  formControlName="email" />
            </p-inputGroup>

            <ng-container formGroupName="passwords">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="{{'FORM.PASSWORD' | translate}}" formControlName="password" [type]="passwordHidden().password ? 'password' : 'text'"/>
                </p-inputGroup>
    
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="{{'FORM.CONFIRM_PASSWORD' | translate}}"  formControlName="confirmPassword" [type]="passwordHidden().confirmPassword ? 'password' : 'text'"/>
                </p-inputGroup>
            </ng-container>
            
            <button pButton type="submit" label="{{'FORM.SIGN_UP' | translate}}" class="submit-button" [disabled]="!registerForm.valid"></button>
        </form>
        <div class="sign-in-link">
            <span>{{'SIGN_UP_PAGE.SIGN_IN_MESSAGE' | translate}}</span><a routerLink="/auth/login"type="submit">{{"SIGN_IN_PAGE.SIGN_IN" | translate}}</a>
        </div>
    </div>
</div>