<p-table class="container" [value]=" clientService.clients()" dataKey="id" [tableStyle]="{'max-width': '97rem'}" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <div class="table-heading">
            {{"CLIENTS.CLIENTS" | translate}}
            <div class="action-tool-container">
                <exy-search [searchPage]="'Clients'"></exy-search>
                <button pButton icon="pi pi-plus" (click)="showAddDialog()"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>{{"CLIENTS.NAME" | translate}}</th>
            <th>{{"CLIENTS.COMPANY" | translate}}</th>
            <th>{{"CLIENTS.PRICE" | translate}}</th>
            <th>{{"CLIENTS.YEARLY_MAINTENANCE" | translate}}</th>
            <th>{{"CLIENTS.PAYMENT_DATE" | translate}}</th>
            <th>{{"CLIENTS.STATUS" | translate}}</th>
            <th>{{"CLIENTS.ACTIONS" | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
        <tr [pEditableRow]="client">
            <td>{{client.name | truncate:30}}</td>
            <td>{{client.company | truncate:30}}</td>
            <td>{{client.price | dynamicCurrency}}</td>
            <td>{{client.yearly_maintenance | dynamicCurrency}}</td>
            <td>{{client.payment_date | date: 'yyyy-MM-dd'}}</td>
            <td [ngClass]="{'green': client.status === 'Active', 'red': client.status === 'Archived'}">{{translate.instant('STATUS.' + client.status.toUpperCase())}}</td>
            <td>
                <div class="action-icons">
                    <i class="pi pi-pen-to-square action-icon" (click)="showEditDialog(client)"></i>
                    <i class="pi pi-trash action-icon" (click)="confirmDeletation(client)"></i>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<exy-add-client-dialog [visible]="addDialogVisible()" (closeDialog)="showAddDialog()"></exy-add-client-dialog>
<p-confirmDialog />