.table-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.green {
    color: #22c55e;
}
.red {
    color: red;
}
.dialog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dialog-buttons {
    display: flex;
    justify-content: space-between;   
}
.pi-pencil {
    color: #000;
    background-color: #000;
}
.action-icons {
    display: flex;
    gap: 1rem;
    color: #3B82F6;
}
.action-icon:hover {
    cursor: pointer;
    color:#1D4ED8;
}