<div class="container">
    <div [class]="'icon-box icon-box-' + cardColor()">
        <i [class]="'pi pi-' + cardIcon()"></i>
    </div>
    <div class="heading">
        <span>{{cardDescription()}}</span>
        <span class="value"  [style.color]="cardValue() < 0 ? 'red' : '#374151'">
            @if (cardFinance()) {
                <span>$</span>
            }
            {{cardValue()}}</span>
    </div>
    <div class="info-message">
        <span><span [style.color]="cardPercentage() > 0 ? '#22c55e' : 'red'">{{cardPercentage()}}%</span> than last month</span>
    </div>
</div>