<p-table class="container" [value]="expenseService.expenses()" [tableStyle]="{'max-width': '97rem'}" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <div class="table-heading">
            {{'EXPENSES.EXPENSES' | translate}}
            <button pButton icon="pi pi-plus" (click)="showDialog()"> </button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>{{'EXPENSES.TYPE' | translate}}</th>
            <th>{{'EXPENSES.COST' | translate}}</th>
            <th>{{'EXPENSES.COMPANY' | translate}}</th>
            <th>{{'EXPENSES.PAYMENT_DATE' | translate}}</th>
            <th>{{'EXPENSES.STATUS' | translate}}</th>
            <th>{{'ACTIONS.ACTIONS' | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense>
        <tr>
            <td>{{expense.type | truncate:30}}</td>
            <td>{{expense.cost | dynamicCurrency}}</td>
            <td>{{expense.company  | truncate:30}}</td>
            <td>{{expense.payment_date | date : 'mediumDate'}}</td>
            <td [ngClass]="{'green': expense.status === 'Active', 'red': expense.status === 'Archived'}">{{translate.instant('STATUS.' + expense.status.toUpperCase())}}</td>
            <td>
                <div class="action-icons">
                    <i class="pi pi-pen-to-square action-icon" (click)="showEditDialog(expense)"></i>
                    <i class="pi pi-trash action-icon" (click)="confirmDeletation(expense)"></i>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<exy-add-expense-dialog [visible]="visible()" (closeDialog)="showDialog()" (addExpense)="onAddExpense($event)"></exy-add-expense-dialog>
<p-confirmDialog />