.container {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.profile-image {
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}