<div class="container">
    <exy-card [cardIcon]="'chart-line'" [cardDescription]="'Profit (This year)'" [cardValue]="53" [cardPercentage]="55" [cardColor]="'orange'" [cardFinance]="true"></exy-card>
    <exy-card [cardIcon]="'user-plus'" [cardDescription]="'New Clients (This year)'" [cardValue]="53" [cardPercentage]="55" [cardColor]="'green'" [cardFinance]="false"></exy-card>
    <exy-card [cardIcon]="'money-bill'" [cardDescription]="'Whole profit'" [cardValue]="53" [cardPercentage]="55" [cardColor]="'blue'" [cardFinance]="true"></exy-card>
    <exy-card [cardIcon]="'user'" [cardDescription]="'Clients'" [cardValue]="53" [cardPercentage]="55" [cardColor]="'pink'" [cardFinance]="false"></exy-card>

</div>

