<div class="container">
    <exy-card [cardIcon]="'money-bill'" [cardDescription]="'Total profit'" [cardValue]="dashboardService.dashboardData()?.total_profit ?? 0" [cardPercentage]="55" [cardColor]="'blue'" [cardFinance]="true"></exy-card>
    <exy-card [cardIcon]="'user'" [cardDescription]="'Total Clients'" [cardValue]="dashboardService.dashboardData()?.total_clients ?? 0" [cardPercentage]="55" [cardColor]="'pink'" [cardFinance]="false"></exy-card>
    <exy-card [cardIcon]="'chart-line'" [cardDescription]="'Profit (This year)'" [cardValue]="dashboardService.dashboardData()?.yearly_profit ?? 0" [cardPercentage]="55" [cardColor]="'orange'" [cardFinance]="true"></exy-card>
    <exy-card [cardIcon]="'user-plus'" [cardDescription]="'New Clients (This year)'" [cardValue]="dashboardService.dashboardData()?.yearly_clients ?? 0" [cardPercentage]="55" [cardColor]="'green'" [cardFinance]="false"></exy-card>
</div>

